.clock{
    font-size: 5rem;
    color: black;
    margin: 20px;
}

span{
    background-color: white;
    width: 100%;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    height: 50%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

h4{
    color: red;
    margin-bottom: 5px;
    animation: blinker 1s linear infinite;
    -webkit-animation: blinker 1s linear infinite;
}

.start{
    background-color: green;
    color: #fff;
}

.stop{
    background-color: red;
    color: #fff;
}

.reset{
    background-color: rgb(84, 84, 184);
    color: #fff;
}

@keyframes blinker{
    50%{
        opacity: 0;
    }
}